<% include ../partials/header %>

<div class="container my-4 mx-auto">
    <h1 class="text-center my-3">Edit <%= campground.name %></h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div class="col-5 mx-auto">
            <input type="text" class="form-control my-2" aria-describedby="emailHelp" name="campground[name]" value="<%= campground.name %>">
            <input type="text" class="form-control my-2" name="campground[image]" value="<%= campground.image %>">
            <input type="text" class="form-control my-2" name="campground[description]" value="<%= campground.description %>">
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-outline-primary mx-2" value="Submit"></input>
                <a href="/campgrounds" class="btn btn-outline-primary mx-2">Go back</a>
            </div>
        </div>
    </form>
</div>

<% include ../partials/footer %>