<% include ../partials/header %>

<% if(currentUser&&currentUser.isAdmin){%>
<h1>You're an admin</h1>
<% }%>

<div class="container">
    <header class="jumbotron jumbotron-fluid py-4 px-4">
        <div calss="container">
            <h1 class="display-4">Welcome To YelpCamp!</h1>
            <p class="lead">View my hand-picked campgrounds</p>
            <p><a class="btn btn-outline-primary btn-lg" href="/campgrounds/new">Add new campground</a></p>
        </div>
    </header>

    <div class="row text-center mb-4" id="campground">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6 mb-5">
                <div class="card h-100">
                    <div style="background-image: url(<%= campground.image %>)" class="image"></div>
                    <div class="card-body align-items-center">
                        <h5 class="card-title mb-0"><%= campground.name %></h5>
                        <!--<% if (campground.rating === 0) { %>-->
                        <!--    <div class="mb-3"><em>No reviews yet</em></div>-->
                        <!--<% } else { %>-->
                        <!--    <div class="mb-3">-->
                        <!--        <span class="fa fa-star checked"></span>-->
                        <!--        <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>-->
                        <!--        <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>-->
                        <!--        <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>-->
                        <!--        <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>-->
                        <!--    </div>-->
                        <!--<% } %>-->
                        </div>
                    <div class="card-footer mb-2">
                        <a href="/campgrounds/<%=campground._id %>" class="btn btn-outline-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    
    <!--pagination-->
    <nav aria-label="Page navigation">
        <% if (pages && pages > 0) { %>
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
            <% } %>
     
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">«</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
            <% } %>
     
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="page-item active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>
     
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
            <% } %>
     
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
            <% } %>
        </ul>
        <% } %>
    </nav>
    
</div>
<% include ../partials/footer %>