<% include ../partials/header %>

<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center ">
            	<span><i class="fas fa-user user"></i></span>
            	<h3 class="my-2"><%= user.username %></h3>
            	<p class="text-muted"><em>Last seen <%=user.last_login_date%></em></p>
				<div class="caption">
					<a href="mailto:<%= user.email %>"><%= user.email %></a>
				</div>
			</div>
    	</div>
    	
        <div class="col-md-8">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a href="" data-target="#about" data-toggle="tab" class="nav-link active">About</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#campgrounds" data-toggle="tab" class="nav-link">Campgrounds</a>
                </li>
                <% if(currentUser && user._id.equals(currentUser._id)){%>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit Profile</a>
                    </li>
                <% } %>
            </ul>
            <div class="tab-content p-b-3">
                <div class="tab-pane active px-1" id="about">
                    <h4 class="m-y-2">User Profile</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>About</h6>
                            <p><%= user.about %></p>
                            <h6>Hobbies</h6>
                            <p><%= user.hobbies %></p>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane px-1" id="campgrounds">
                    <h4 class="m-y-2">Recently created campgrounds</h4>
                    <div class="row my-3">
        			    <% campgrounds.forEach(function(campground) { %>
        			        <div class="col-md-3 col-sm-6 mb-3">
                                <div style="background-image: url(<%= campground.image %>)" class="image-sm"></div>
                                <p class="text-center"><a class="campground-name" href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></p>
                            </div>
        			    <% }); %>
                    </div>
                </div>
                <div class="tab-pane px-1" id="edit">
                    <h4 class="m-y-2">Edit Profile</h4>
                    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="user[username]" value="<%= user.username %>" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Country</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="user[country]" value="<%= user.country %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">City</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="user[city]" value="<%= user.city %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">About</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="user[about]" value="<%= user.about %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Hobbies</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="user[hobbies]" value="<%= user.hobbies %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" name="user[email]" value="<%= user.email %>" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" name="user[password]" value="<%= user.password %>" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" name="user[password]" value="<%= user.password %>" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <a href="/users/<%= user._id %>" class="btn btn-outline-secondary">Cancel</a>
                                <input type="submit" class="btn btn-outline-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
	</div>
</div>


<% include ../partials/footer %>